@charset 'utf-8';
.container {
	width: 100%;
}
.blog-img{
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	text-align: center;
}
.time {
	margin-top: 10%;
	text-align: center;
	font-family: 'Titillium Web', sans-serif!important;
	font-size: 40px;
}
.textInto {
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 8%;
	color: #000;
	text-align: center;
	border: 2px solid #555;
	border-radius: 15px;
}
.author {
	text-align: right;
	padding-right: 5px;	
}